<div class="container">
    <div class="row">
        
       <%= render "layouts/leftbar", user: @book.user, book: @new_book %>     
             
        
        
        <div class="col-8 offset-md-1">
            <h2>Book detail</h2>
            
            <table class="table">
                
                
                <tbody>
                     <td>
                         <%= link_to user_path(@book.user) do %>
                             <%= attachment_image_tag @book.user, :profile_image, size:"40x40", fallback: "no_image.jpg", size:"40x40" %>
                             <br>
                             <%= @book.user.name %>
                         <% end %>
                     </td>
                     <td>
                         <%= link_to book_path(@book) do %>
                             <%= @book.title %>
                         <% end %>
                     </td>
                     <td>
                         <%= @book.body %>
                     </td>
                     
                     <% if @book.user == current_user %>
                         <td>
                             <%= link_to edit_book_path(@book) do %>
                                 <button type="button" class="btn btn-info">Edit</button>
                             <% end %>
                         </td>
                         
                         <td>
                             <%= link_to book_path(@book), method: :delete, "data-confirm" => "Do you really want to delete this book?" do %>
                                 <button type="button" class="btn btn-danger">Destroy</button>
                             <% end %>
                         </td>
                    <% end %>
                </tbody>
                
               
                
                
            </table>
            
            
            
        </div>
    </div>
</div>