<div class="container">
    <div class="row">
        
       <%= render "layouts/leftbar", user: @book.user, book: @new_book %>     
             
        
        
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            
            <table class="table">
                <tbody>
                     <td>
                         <%= link_to user_path(@book.user) do %>
                             <%= attachment_image_tag @book.user, :profile_image, size:"40x40", fallback: "no_image.jpg", size:"40x40" %>
                             <br>
                             <%= @book.user.name %>
                         <% end %>
                     </td>
                     <td>
                         <%= link_to book_path(@book) do %>
                             <%= @book.title %>
                         <% end %>
                     </td>
                     <td>
                         <%= @book.body %>
                     </td>
                     
                     <!--いいね-->
                    <td>
                        <%= render "favorites/favorite", book: @book %>
                    </td>
                    
                    <!--コメント数-->
                    <td>
                        <p>コメント数： <%= @book.book_comments.count %>件</p>
                    </td>
                     
                     <% if @book.user == current_user %>
                         <td>
                             <%= link_to edit_book_path(@book) do %>
                                 <button type="button" class="btn btn-info">Edit</button>
                             <% end %>
                         </td>
                         
                         <td>
                             <%= link_to book_path(@book), method: :delete, "data-confirm" => "Do you really want to delete this book?" do %>
                                 <button type="button" class="btn btn-danger">Destroy</button>
                             <% end %>
                         </td>
                    <% end %>
                </tbody>
            </table>
            
            
            
            <h2>Comments</h2>
            
            
            <table class="table">
                <tbody>
                    
                    <% @book_comments.each do |book_comment| %>
                        <tr>
                            <td>
                                <%= link_to user_path(book_comment.user_id) do %>
                                    <%= attachment_image_tag book_comment.user, :profile_image, size: "40x40", fallback: "no_image.jpg", size:"40x40" %>
                                    <%= book_comment.user.name %>
                                <% end %>
                            </td>
                            
                            <td>
                                <%= book_comment.comment %>
                            </td>
                            
                            <% if book_comment.user_id == current_user.id %>
                                <td>
                                    <%= link_to book_book_comment_path(@book, book_comment), method: :delete, "data-confirm" => "Do you really want to delete this comment?", class: "btn btn-danger" do %>
                                        Destroy
                                    <% end %>
                                </td>
                            <% else %>
                                <td></td>
                            <% end %>
                        </tr>
                    <% end %>
                    
                </tbody>
            </table>
            <%= paginate @book_comments %>
            
            <!--validationによるエラーメッセージ-->
            <%= render "/layouts/error", model: @book_comment %>
            <%= form_with model:[@book, @book_comment], url: book_book_comments_path(book_id: @book.id), local:true do |f| %>
                <div class="field pb-3">
                    <%= f.label :comment, "New comment" %><br />
                    <%= f.text_area :comment, autocomplete: "your comment about the book", rows: 5, class: "col-md-11" %>
                </div>
                    
                <div class="actions pb-3">
                    <%= f.submit "送信", class: "btn btn-info btn-sm" %>
                </div>
            <% end %>
            
            
            
        </div>
    </div>
</div>