<div class="col-3">
            <h2>User Info</h2>
            <table class="table">
                <tr>
                    <th><%= attachment_image_tag user, :profile_image, size: "100x100", format: "jpg", fallback:"no_image.jpg" %></th>
                    <th></th>
                </tr>
                <tr>
                    <th>name</th>
                    <th><%= user.name %></th>
                </tr>
                <tr><th>introduction</th>
                    <th><%= user.introduction %></th>
                </tr>
            </table>
            <div class="row">
                <%= link_to edit_user_path(user), class: "btn-block" do %>
                     <button type="button" class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
                <% end %>
            </div>
             
             <div class="row">
                 <h2 class="mt-3">New book</h2>
                 
                 <%= form_with model: book, url: books_path, local:true do |f| %>
            
                    <div class="field pb-3">
                      <%= f.label :title %><br />
                      <%= f.text_field :title, autocomplete: "book title" %>
                    </div>
                  
                    <div class="field pb-3">
                      <%= f.label :body, "Opinion" %><br />
                      <%= f.text_area :body, autocomplete: "your opinion about the book" %>
                    </div>
                    
                    <div class="actions pb-3">
                            <%= f.submit "Create Book", class: "btn btn-info" %>
                    </div>
          
                 <% end %>
             </div>
             
             
        </div>
        